absl-py==2.3.1
accelerate==1.11.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alabaster==0.7.16
alembic==1.17.1
altair==5.5.0
amqp==5.3.1
annotated-types==0.7.0
anyascii==0.3.3
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.11.0
astroid==3.0.3
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.1.0
audioread==3.1.0
babel==2.17.0
bangla==0.0.5
beautifulsoup4==4.12.2
billiard==4.2.2
black==23.12.1
bleach==6.1.0
blinker==1.9.0
blis==1.3.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.34.0
botocore==1.34.0
branca==0.8.1
cachetools==5.5.2
catalogue==2.0.10
celery==5.3.4
certifi==2022.12.7
cffi==2.0.0
charset-normalizer==3.1.0
chatterbot-corpus==1.2.0
clean-fid==0.1.35
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
clip-anytorch==2.6.0
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.1
comtypes==1.4.13
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
coverage==7.11.1
cryptography==46.0.2
cycler==0.12.1
cymem==2.0.12
Cython==3.2.1
databricks-sdk==0.73.0
datasets==4.2.0
dateparser==1.1.8
dctorch==0.1.2
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
distro==1.9.0
Django==5.2.10
django-cors-headers==4.9.0
djangorestframework==3.16.1
dm-tree==0.1.8
docker==7.1.0
docopt==0.6.2
docutils==0.20.1
einops==0.8.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
entrypoints==0.4
etils==1.7.0
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.13.2
Faker==26.0.0
fastapi==0.115.2
fastjsonschema==2.19.1
ffmpy==0.3.0
fhir.resources==8.1.0
fhir_core==1.1.4
filelock==3.20.0
flake8==6.1.0
Flask==3.1.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
folium==0.19.5
fonttools==4.60.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
function==1.2.0
g2pkk==0.1.2
gast==0.5.4
gensim==4.3.3
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gradio==3.27.0
gradio_client==0.1.3
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.76.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.1
gruut-lang-en==2.0.1
gruut-lang-es==2.0.1
gruut-lang-fr==2.0.2
gTTS==2.5.4
gunicorn==21.2.0
h11==0.16.0
h2==4.3.0
h5py==3.14.0
hangul-romanize==0.1.0
hf-xet==1.2.0
hl7==0.4.5
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
hub-sdk==0.0.24
huggingface_hub==1.4.1
hyperframe==6.1.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==1.4.1
imbalanced-learn==0.13.0
imblearn==0.0
importlib-metadata==6.11.0
importlib_resources==6.4.0
inflect==7.5.0
iniconfig==2.1.0
instaloader==4.15
intel-cmplr-lib-ur==2025.3.2
intel-openmp==2025.3.2
ipdb==0.13.13
ipykernel==6.28.0
ipython==8.18.1
ipywidgets==8.1.6
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.13.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.24
jsonlines==1.2.0
jsonmerge==1.9.2
jsonpointer==2.4
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==7.4.9
jupyter_core==5.7.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.14
k-diffusion==0.1.1.post1
kafka-python==2.0.2
keras==2.15.0
keras-utils==1.0.13
kiwisolver==1.4.9
kombu==5.6.0
kornia==0.8.1
kornia_rs==0.1.9
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
lcapy==1.20
libclang==16.0.6
librosa==0.10.0
linkify-it-py==2.0.0
llvmlite==0.45.1
loguru==0.7.3
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.10
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.2
mkl==2025.3.1
ml-dtypes==0.2.0
mlflow==2.16.2
mlflow-skinny==2.16.2
mlxtend==0.23.1
mmh3==5.2.0
more-itertools==10.8.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.15
murmurhash==1.0.14
mypy==1.7.1
mypy_extensions==1.1.0
narwhals==2.8.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.5.8
networkx==2.8.8
nltk==3.9.2
notebook==7.1.2
notebook_shim==0.2.4
num2words==0.5.14
numba==0.62.1
numpy==1.26.2
oauthlib==3.2.2
onemkl-license==2025.3.1
openai==2.18.0
opencv-python==4.8.1.78
opencv-python-headless==4.11.0.86
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt-einsum==3.3.0
orjson==3.8.10
overrides==7.7.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.3
pathlib2==2.3.7.post1
pathspec==0.12.1
patsy==1.0.1
pdfkit==1.0.0
pdfminer.six==20221105
pdfplumber==0.10.3
Pillow==10.1.0
platformdirs==4.5.0
playsound==1.2.2
plotly==6.0.1
pluggy==1.6.0
polars==1.38.1
polars-runtime-32==1.38.1
pooch==1.8.2
postgrest==2.28.0
praat-parselmouth==0.4.6
preshed==3.0.11
proglog==0.1.12
prometheus-flask-exporter==0.22.4
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.43
propcache==0.4.1
property-cached==1.6.4
proto-plus==1.23.0
protobuf==4.25.8
psutil==7.1.3
psycopg2-binary==2.9.9
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.23
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyflakes==3.1.0
Pygments==2.17.2
pyiceberg==0.11.0
PyJWT==2.11.0
pylint==3.0.3
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.2.5
PyPDF2==3.0.1
pypdfium2==4.30.0
pypinyin==0.55.0
pypng==0.20220715.0
pyproj==3.7.1
pyproject-toml==0.0.10
pyroaring==1.0.3
pyrsistent==0.19.3
pysbd==0.3.4
pytesseract==0.3.10
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.12.0
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-tabnet==4.1.0
pytz==2022.7.1
pywinpty==2.0.13
PyYAML==6.0.3
pyzmq==24.0.1
qrcode==7.4.2
realtime==2.28.0
redis==5.0.1
referencing==0.37.0
regex==2024.11.6
reportlab==4.0.7
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rpds-py==0.27.1
rsa==4.9
s3transfer==0.9.0
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.11.4
seaborn==0.12.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==5.2.2
sentencepiece==0.2.1
sentry-sdk==2.43.0
shapely==2.1.0
shellingham==1.5.4
simpy==4.1.1
six==1.16.0


smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.0
snowballstemmer==3.0.1
soundfile==0.13.1
soupsieve==2.4.1
soxr==1.0.0
spacy==3.8.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.2.6
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
starlette==0.40.0
statsmodels==0.14.4
storage3==2.28.0
streamlit==1.54.0
streamlit_folium==0.24.1
StrEnum==0.4.15
strictyaml==1.7.3
SudachiDict-core==20251022
SudachiPy==0.6.10
supabase==2.28.0
supabase-auth==2.28.0
supabase-functions==2.28.0
sympy==1.14.0
tbb==2022.3.1
tcmlib==1.4.1
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.14.0
termcolor==2.4.0
terminado==0.18.1
textblob==0.19.0
thinc==8.3.9
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2025.5.10
tinycss2==1.2.1
tokenizers==0.22.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
toolz==0.12.0
torch==2.10.0+cpu
torch-geometric==2.7.0
torchaudio==2.9.0+cpu
torchdiffeq==0.2.5
torchsde==0.2.6
torchvision==0.25.0+cpu
tornado==6.5.2
tqdm==4.65.0
trainer==0.0.36
traitlets==5.14.1
trampoline==0.1.2
transformers==5.1.0
TTS==0.22.0
typeguard==4.4.4
typer==0.9.4
typer-slim==0.20.0
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.1
ultralytics==8.1.0
ultralytics-thop==2.0.18
umap-learn==0.5.7
umf==1.0.3
Unidecode==1.4.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.30.6
validators==0.35.0
vine==5.1.0
waitress==3.0.2
wandb==0.22.3
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
weasel==0.4.3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wikipedia==1.4.0
Wikipedia-API==0.6.0
wordcloud==1.9.4
wrapt==2.0.1
xgboost==2.1.1
XlsxWriter==3.2.0
xxhash==3.6.0
xyzservices==2025.1.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
